.home-cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin-bottom: 2.5rem;
  img{
    width: 100%;
    margin-bottom: 1.25rem;
  }
  h3{
    margin-bottom: .3125rem;
  }
  a{
    display: inline-block;
    padding-top: .625rem;
    color: #0067b8;
    font-weight: bold;
    text-transform: uppercase;
    &:hover i {
      margin-left: 10px;
    }
  }
}