.links{
  
  background-color: #f2f2f2f2;
  color: #616161;
  font-size: .75rem;
  padding: 2.1875rem 0 ;
  // text-align: center;
  &__content{
    max-width: 68.75rem;
    margin-inline:auto ;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: .625rem;
  }
  li{
    line-height: 2.8;
  }
}